

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


body {
  background-color: #f4f7fb; 
  color: #333;
}


header {
  width: 100%;
  background: #42a5f5; 
  padding: 15px 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  transition: 0.3s;
}
.nav-links a::after{
content:'';
width: 0;
height: 3px;
background: #000000;
position: absolute;
left: 0;
bottom: -6px;
transition: 0.5s;
}

nav ul li a:hover::after{
    width:100%;

}

.nav-links a:hover {
  color: #ffcc00;
}


.hero {
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;    
  text-align: center;
  padding: 80px 20px;

  
  background: url("background.jpg") no-repeat center center/cover;
}



.card {
  background: linear-gradient(135deg, #000, #42a5f5); 
  color: rgb(255, 255, 255);
  padding: 50px;
  border-radius: 20px;
  max-width: 800px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.card h2 {
  font-size: 42px;
  margin-bottom: 20px;
  font-weight: bold;
}

.card p {
  font-size: 18px;
  line-height: 1.6;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    color:rgb(0, 0, 0);

}


#about{
    padding: 70px 0;
    color: #ababab;

}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;

}
.about-col-1 img{
    width: 90%;
    border-radius: 20px;
}
.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #87CEEB;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: -0.5s;

}
.tab-links.active link::after{
    width: 50%;
}

.tab-contents ul li{
  list-style: none;
  margin:10px 0;

}
.tab-contents ul span{
  color: #ff004f;
  font-size: 14px;
}
.tab-contents{
  display: none;

}

.tab-contents.active-tab{
  display: block;
   
}



